/* Default Styles */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main h1 {
  font-size: 2em;
}

article {
  display: flex;
}

article h1 {
  font-size: 2em;
}

section {
  display: flex;
}


/* Header Styles */

.home-header {
  background: url(/images/pexels-photo-1293551.jpeg);
  height: 100vh;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: column;
  display: inline-flex;
  font-weight: bolder;
}

.header {
  display: inline-flex;
  width: 100%;
  font-weight: bolder;
}

.motto {
  color: #bc8635;
  padding-left: 10rem;
  padding-top: 20rem;
}

.motto h1 {
  font-size: 36px;
}

.motto h2 {
  font-size: 24px;
}

/* Nav Section */

#navbar {
  background-color: black;
  display: flex;
  width: 100%;
}

#navbar .logo {
  flex-wrap: wrap;
  padding: 20px;
  height: 80px;
  display: flex;
  flex: 1;
  color: #bc8635;
}

#navbar .logo img {
  width: 50px;
  height: 50px;
  margin: 0 30px;
}

#navbar .logo h1 {
  margin: auto 0;
}

#navbar a {
  display: block;
  color: #bc8635;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar li {
  float: left;
  display: block;
  color: #bc8635;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #bc8635;
  color: black;
}

#navbar a.active {
  color: #bc8635;
}

/* Sections */

.intro-section,
.information-section,
.about-section,
.gallery-section,
.contact-form-section {
  display: flex;
  padding: 0 20%;
}

.features-section,
.testimonial-section,
.piano-section,
.blog-section,
.contact-section {
  display: flex;
  padding: 0 10%;
  margin: 30px;
}

.intro-content,
.features-section,
.information-content,
.gallery-content,
.testimonial-content,
.piano-content,
.about-content,
.contact-form-content,
.contact-content {
  flex-basis: 100%;
  flex-wrap: wrap;
}

/* Section Container */

.section-container {
  display: flex;
  flex-wrap: wrap;

  font-weight: bolder;
}

/* Intro Section */
.intro-item {
  flex: 0 0 auto;
  margin: 2px;
  flex-basis: 100%;
  text-align: start;
}

.intro-item h1 {
  color: #bc8635;
}

.intro-item p {
  font-size: 16px;
}

.intro-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
}

/* Features Section */

.features-item {
  flex: 0 0 auto;
  margin: 2px;
  flex: 25%;
  height: 25vh;
  background-color: black;
  color: #bc8635;
  text-align: center;
}

.features-item p {
  font-size: 16px;
}

.features-item-header {
  flex: 0 0 auto;
  margin: 4px;
  background-color: white;
  color: #bc8635;
  flex: 100%;
}

/* Info Section */
.information-item {
  flex: 0 0 auto;
  margin: 2px;
  flex-basis: 100%;
  text-align: start;
}

.information-item h1 {
  color: #bc8635;
}

.information-item h2 {
  color: #bc8635;
}

.information-item p {
  font-size: 16px;
}

.information-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

/* Testimonials Section */
.testimonial-item {
  flex: 0 0 auto;
  margin: 1px;
  flex-basis: 33%;
  text-align: start;
}

.testimonial-item img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.testimonial-item h1 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.testimonial-item h2 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.testimonial-item p {
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.testimonial-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

/* Piano Section */
.piano-item {
  margin: 1rem;
  flex-basis: 47.5%;
  justify-content: center;
  text-align: center;
}

.piano-item img {
  display: flex;
  width: 95%;
}

.piano-item h1 {
  padding: 5px;
  color: #bc8635;
}

.piano-item h2 {
  padding: 5px;
  color: #bc8635;
}

.piano-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

.piano-button {
  display: inline-flex;
  border: 1px solid #bc8635;
  color: #bc8635;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px 20px;
}

.piano-button:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: #bc8635;
}

/* Blog Section */
.blog-item {
  flex-direction: row;
  margin: 1px;
  flex-basis: 100%;
}

.blog-item img {
  display: flex;
}

.blog-item h1 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.blog-item h2 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.blog-item p {
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.blog-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

/* Contact Section */
.contact-item {
  flex: 0 0 auto;
  margin: 20px;
  text-align: start;
}

.contact-item h1 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.contact-item ul {
  list-style-type: none;
}

.contact-item h2 {
  padding: 5px;
  margin: 20px;
  color: #bc8635;
}

.contact-item p {
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.contact-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

/* About Section */
.about-item {
  flex: 0 0 auto;
  margin: 2px;
  flex-basis: 100%;
  text-align: start;
}

.about-item h1 h2 {
  padding: 5px;
  margin: 20px;
}

.about-item p {
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.about-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

/* Gallery Section */
.gallery-item {
  flex: 0 0 auto;
  margin: 2px;
  flex-basis: 100%;
}

.gallery-item h1 {
  color: #bc8635;
}

.gallery-item h2 {
  color: #bc8635;
}

.gallery-item p {
  font-size: 16px;
}

.gallery-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
  color: #bc8635;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bolder;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #bc8635;
  color: black;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.fa {
  font-size: 20px;
  color: #bc8635;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #bc8635 !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}

/* Footer Section */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: black;
  color: #bc8635;
  font-weight: bolder;
}

.footer-item {
  flex: 29.5%;
  margin: 2rem;
}

.footer-item ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-item li {
  padding-top: 0.5rem;
}

.footer-item img {
  width: 100px;
  height: 100px;
  margin: 0 30px;
  padding: 10px;
}

.footer-item a {
  color: #bc8635;
  text-decoration: none;
}

.footer-item i {
  font-size: 37px;
  padding: 5px;
}

.footer-item p {
  text-align: start;
  padding: 5px;
  margin: 20px;
}

.footer-copyright {
  flex: 0 0 auto;
  flex: 100%;
  text-align: center;
  background-color: black;
  color: #bc8635;
}

/* Contact Form Section */
.contact-form-section {
  background: #bc8635;
}

.contact-form-item {
  display: inline-flex;
  padding: 0 25%;
  width: 50%;
}

.contact-form-item li {
  padding: 10px;
  list-style-type: none;

  margin-left: auto;
  padding: 8px 16px;
  border: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

.contact-form-item h1 {
  padding: 5px;
  margin: 10px;
}

.contact-form-item p {
  padding: 5px;
  margin: 20px;
  font-size: 16px;
}

.contact-form-item-header {
  flex: 0 0 auto;
  margin: 4px;
  flex: 100%;
}

.button {
  display: block;
  border: 1px solid #bc8635;
  color: #bc8635;
  font-size: 14px;
  font-weight: bolder;
  margin: auto;
  padding: 10px 20px;
}

.button:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: #bc8635;
}

/* Google Map Section*/

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}